<div class="container">
  <div class="row">
    <div class="col-12">
      <app-products></app-products>
      <hr>

      <header class="text-center text-capitalize my-5">
        <h1 class="alert alert-danger">
            creating table by using <strong>angular</strong>
        </h1>
    </header>

      <table class="table table-bordered mt-5">
        <thead class="alert alert-dark">
          <tr>
            <th>Sr No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Profile</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pObj of persons; let i= index">
            <td>{{i + 1}}</td>
            <td>{{pObj.fname}}</td>
            <td>{{pObj.lname}}</td>
            <td>{{pObj.email}}</td>
            <td>{{pObj.profile}}</td>
            <td>{{pObj.contact}}</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-bordered mt-5">
        <thead class="alert alert-info text-center">
          <tr>
            <th>Sr No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date Of Birth</th>
            <th>Id No</th>
            <th>Native Place</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tObj of teams; let i = index">
            <td>{{i +1}}</td>
            <td>{{tObj.fname}}</td>
            <td>{{tObj.lname}}</td>
            <td>{{tObj.DateOfBirth}}</td>
            <td>{{tObj.idNo}}</td>
            <td>{{tObj.nativePlace}}</td>
            <td>{{tObj.role}}</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-bordered mt-5">
        <thead class="alert alert-danger">
          <tr>
            <th>Sr No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Designation</th>
            <th>Email</th>
            <th>Emp Id</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empObj of employs; let i = index">
            <td>{{i + 1}}</td>
            <td>{{empObj.fname}}</td>
            <td>{{empObj.lname}}</td>
            <td>{{empObj.designation}}</td>
            <td>{{empObj.email}}</td>
            <td>{{empObj.empId}}</td>
            <td>{{empObj.contact}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>